<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="/js/jquery-2.1.4.js"></script>
    <script src="/js/bootstrap.js"></script>
    <link  rel="stylesheet" href="/css/bootstrap.css">
    <style>
        div{
            width:300px;
           margin-left: 500px;
            margin-top: 30px;
        }
    </style>
</head>

<body>
<form action="dengru" method="post">
    <h2>登入页面</h2>
<div>
    <label>用户名</label>
    <input type="text" name="uname" class="form-control" >

</div>
    <div>
        <label>密码</label>
        <input type="password" name="passwd" class="form-control" >
    </div>
    <div>
        <input type="submit" class="btn btn-success">
    </div>

</form>

</body>
</html>